.card {
  width: 413px;
  position: relative;
}

.card__title {
  font-family: poppins, Arial, helvetica, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0px;
  margin: 0;
  max-width: 119px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__image:hover {
  cursor: pointer;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.card__like-btn {
  background-image: url(../images/spots-images/heart.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 0.4;
  cursor: pointer;
}

.card__like-btn:hover {
  opacity: 1;
}

.card__like-btn:focus {
  outline: 2px solid #007bff;
  outline-offset: 2px;
}

.card__like-btn_active {
  background-image: url(../images/spots-images/like_button-liked.svg);
  opacity: 1;
}

.card__like-btn_active:hover {
  opacity: 0.4;
}

.card__delete-btn {
  background-image: url(../images/spots-images/default_delete-btn.svg);
  max-width: 32px;
  max-height: 32px;
  width: 100%;
  height: 100%;
  border: none;
  position: absolute;
  display: flex;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 1;
}

.card__delete-btn:hover {
  background-image: url(../images/spots-images/hover_delete-btn.svg);
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .card {
    max-width: 288px;
    width: 100%;
  }

  .card__title {
    font-size: 16px;
    line-height: 100%;
    margin: 12px 0 2px;
    white-space: nowrap;
  }

  .card__image {
    width: 288px;
    height: 288px;
  }
}
