.footer {
  display: flex;
  justify-content: center;
}

.footer__text {
  color: rgba(33, 33, 33, 0.7);
  margin: 60px auto;
  display: flex;
  justify-content: center;
  /* nowrap not necessary find another way*/
}

@media screen and (max-width: 627px) {
  .footer__text {
    padding-top: 60px;
    margin: 0 auto;
  }
}
