.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: visibility 0.3s, opacity 0.5s linear;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modal__container {
  box-sizing: border-box;
  max-width: 730px;
  max-height: 408px;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  position: relative;
  padding: 36px 50px 32px 50px;
}

.modal__image-container {
  position: relative;
  flex-direction: column;
}

.modal-image {
  max-width: 80vw;
  max-height: 80vh;
  object-fit: contain;
  display: block;
  border-radius: 8px;
}

.modal__caption {
  color: white;
  display: flex;
  flex-direction: column;
  font-family: poppins, Arial, helvetica, sans-serif;
  max-width: 214px;
  gap: 8px;
  width: fit-content;
  max-height: 32px;
  opacity: 1;
  background-color: #212121;
  padding: 4px 8px;
  border-radius: 8px;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  cursor: pointer;
}

.modal__close-btn:hover {
  opacity: 70%;
}

.modal__close-btn_type_preview {
  top: 11px;
  right: -12px;
  /*changed value because dot does not like how large the original value was*/
  filter: invert(1);
}

.modal__title {
  margin: 0 0 32px 50px;
  font-family: poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.modal__input {
  display: block;
  max-width: 630px;
  width: 100%;
  height: 52px;
  border-radius: 8px;
  border-width: 1px;
  opacity: 1;
  margin-top: 8px;
  border-color: #212121;
}

.modal__submit-btn {
  display: flex;
  max-width: 156px;
  height: 52px;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-family: poppins, Arial, Helvetica, sans-serif;
  color: #fcf5e5;
  background-color: #212121;
  border: none;
  border-radius: 8px;
}

.modal__submit-btn:hover {
  opacity: 70%;
  cursor: pointer;
}

.modal__name-input {
  font-family: poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  letter-spacing: 0;
  opacity: 70%;
}

@media screen and (max-width: 480px) {
  .modal-image {
    max-width: 80vw;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 4px;
  }
  .modal__close-btn {
    top: 22px;
    right: 12px;
  }
}

@media screen and (max-width: 627px) {
  .modal__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 10px;
    max-width: 300px;
    max-height: 336px;
    width: 100%;
    height: 100%;
    padding: 16px;
    box-sizing: border-box;
  }

  .modal__title {
    display: flex;
    align-self: flex-start;
    font-size: 20px;
    margin-bottom: 16px;
    margin: 0 0 16px 0;
    padding-left: 10px;
    text-align: left;
    font-weight: 500;
    line-height: 100%;
    align-items: center;
  }

  .modal__close-btn {
    top: 16px;
    right: 16px;
    margin: -7px 0 0 0;
  }

  .modal__form {
    width: 100%;
  }

  .modal__submit-btn {
    display: flex;
    max-width: 276px;
    width: 100%;
    margin-top: -12px;
  }

  .modal-image {
    max-width: 80vw;
    border-radius: 4px;
  }

  .modal__close-btn_type_preview {
    top: -40px;
    right: 0px;
    display: flex;
  }

  .modal__caption {
    display: flex;
    max-width: 175px;
    width: fit-content;
    max-height: 27px;
  }
}
