.page {
  background-color: #fcf5e5;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  min-height: 100vh;
  color: #212121;
}

.page__logo {
  max-width: 94px;
  max-height: 26px;
  display: flex;
  padding: 10px;
}
